/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* general */
body {
  margin: 0;
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
ul {
  list-style: none;
  display: flex;
  color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  align-self: flex-start;
  margin: 0rem 8rem;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_header . nav_header"
    "heading1 heading1 .";
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 0rem 20rem 0rem;
  width: 100%;
}

.logo_header {
  grid-area: logo_header;
  margin: 0rem 10rem;
}

.nav_header {
  grid-area: nav_header;
}
.nav_header li {
  margin: 0rem 0rem 0rem 2rem;
}
.heading1 {
  grid-area: heading1;
  border: solid 2px hsl(0, 0%, 100%);
  padding: 1rem;
  width: 93%;
  margin: 4.5rem 10rem 0rem 10rem;
  font-size: 4em;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
/* section one */
.section1 {
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.image2 {
  grid-area: 1 / 1 / 3 / 3;
}

.text2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading2"
    "paragraph2";
  grid-area: 2 / 2 / 3 / 4;
}

.heading2 {
  grid-area: heading2;
}

.paragraph2 {
  grid-area: paragraph2;
}
/* section two */
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading3 heading3 . button"
    "images images images images"
    "images images images images";
}

.heading3 {
  grid-area: heading3;
}

.button {
  grid-area: button;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image2-1 image2-2 image2-3 image2-4"
    "image2-5 image2-6 image2-7 image2-8";
  grid-area: images;
}

.image2-1 {
  grid-area: image2-1;
  background-image: url(./images/desktop/image-deep-earth.jpg);
}

.image2-2 {
  grid-area: image2-2;
  background-image: url(./images/desktop/image-night-arcade.jpg);
}

.image2-3 {
  grid-area: image2-3;
  background-image: url(./images/desktop/image-soccer-team.jpg);
}

.image2-4 {
  grid-area: image2-4;
  background-image: url(./images/desktop/image-grid.jpg);
}

.image2-5 {
  grid-area: image2-5;
  background-image: url(./images/desktop/image-from-above.jpg);
}

.image2-6 {
  grid-area: image2-6;
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

.image2-7 {
  grid-area: image2-7;
  background-image: url(./images/desktop/image-curiosity.jpg);
}

.image2-8 {
  grid-area: image2-8;
  background-image: url(./images/desktop/image-fisheye.jpg);
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_footer social"
    "nav_footer copyright";
}

.logo_footer {
  justify-self: start;
  grid-area: logo_footer;
}

.nav_footer {
  justify-self: start;
  grid-area: nav_footer;
}

.social {
  justify-self: end;
  grid-area: social;
}

.copyright {
  justify-self: end;
  grid-area: copyright;
}
