/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* general */
body {
  margin: 0;
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
ul {
  list-style: none;
  display: flex;
  color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  align-self: flex-start;
  margin: 0rem 8rem;
}

.underline {
  display: none;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  height: 2px;
  width: 50%;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_header . nav_header"
    "heading1 heading1 .";
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 0rem 20rem 0rem;
  width: 100%;
}

.logo_header {
  grid-area: logo_header;
  margin: 0rem 10rem;
}

.nav_header {
  grid-area: nav_header;
}
.nav_header li {
  margin: 0rem 0rem 0rem 2rem;
}
.heading1 {
  grid-area: heading1;
  border: solid 2px hsl(0, 0%, 100%);
  padding: 1rem;
  width: 93%;
  margin: 4.5rem 10rem 0rem 10rem;
  font-size: 4em;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
/* section one */
.section1 {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-rows: 0.6fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin: 0rem 0rem 10rem 7rem;
  grid-template-areas: "image2 image2 . " "image2 image2 text2";
}

.image2 {
  grid-area: 1 / 1 / 3 / 3;
}

.text2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading2"
    "paragraph2";
  grid-area: 2 / 2 / 3 / 4;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  padding: 4.4rem 8rem 2rem 8rem;
}

.heading2 {
  grid-area: heading2;
  font-family: "Josefin Sans", sans-serif;
  height: min-content;
  font-size: 3em;
  margin: 0;
}

.paragraph2 {
  grid-area: paragraph2;
  font-family: "Josefin Sans", sans-serif;
  width: 105%;
  margin: 0;
  line-height: 1.4em;
}
/* section two */
.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.3fr 0.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading3 heading3 . button"
    "images images images images"
    "images images images images";
  margin: 2rem 4rem;
}

.heading3 {
  grid-area: heading3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
}

button {
  display: flex;
  grid-area: button;
  background: none;
  border: 2px solid hsl(0, 0%, 0%);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 3rem;
  font-family: "Alata", sans-serif;
  align-self: center;
  justify-self: flex-end;
  margin: 0rem 2rem 0rem 0rem;
}
button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "element1 element2 element3 element4"
    "element5 element6 element7 element8";
  grid-area: images;
  font-size: 2em;
}
.images img:hover {
  filter: opacity(0.5);
}
.element1 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element1;
  height: 28rem;
}
.element2 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element2;
  height: 28rem;
}
.element3 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element3;
  height: 28rem;
}
.element4 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element4;
  height: 28rem;
}
.element5 {
  font-family: "Josefin Sans", sans-serif;

  height: 28rem;
  grid-area: element5;
}
.element6 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element6;
  height: 28rem;
}
.element7 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element7;
  height: 28rem;
}
.element8 {
  font-family: "Josefin Sans", sans-serif;

  grid-area: element8;
  height: 28rem;
}
.image2-1 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}

.imageParagraph1 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-2 {
  color: hsl(0, 0%, 100%);
}
.imageParagraph2 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-3 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph3 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-4 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph4 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-5 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph5 {
  padding: 18rem 5rem 0rem 2rem;
  position: relative;
  top: -27rem;
}
.image2-6 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph6 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-7 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph7 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
.image2-8 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
.imageParagraph8 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -27rem;
}
/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_footer social"
    "nav_footer copyright";
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  /* margin: -40rem 0rem 0rem 0rem; */
  padding: 2rem 6rem 2rem 2rem;
}

.logo_footer {
  justify-self: start;
  grid-area: logo_footer;
  margin: 0rem 0rem 0rem 4.5rem;
}

.nav_footer {
  justify-self: start;
  grid-area: nav_footer;
}
.nav_footer li {
  margin: 0rem 0rem 0rem 2rem;
}
ul.nav_footer {
  margin: 0;
}
.social {
  justify-self: end;
  grid-area: social;
}

.copyright {
  justify-self: end;
  grid-area: copyright;
}
.underlineFooter {
  display: none;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  height: 2px;
  width: 50%;
}
.image2-mobile,
.img-mobile,
.hamburger-icon,
.close-icon {
  display: none;
}
@media screen and (max-width: 500px) {
  header {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    background-image: url(/images/mobile/image-hero.jpg);
    background-size: cover;
    grid-template-areas: "logo_header  nav_header" "heading1  heading1";
    height: 35rem;
  }
  .close-icon {
    position: absolute;
    left: 19rem;
    top: 3.3rem;
    display: block;
  }
  .hamburger-icon {
    display: block;
    margin: 2rem;
  }
  .nav_header {
    justify-self: end;
  }
  .logo_header {
    margin: 2rem 1rem;
    width: 8rem;
  }
  .desktop {
    display: none;
  }
  .heading1 {
    margin: 4rem 0.5rem;
    width: 84%;
    font-size: 3em;
    height: fit-content;
  }
  .hidden {
    display: none;
  }
  .nav_header ul {
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: hsl(0, 0%, 0%);
    display: block;
    margin: 0;
    padding: 0rem 7rem 11rem 4rem;
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
  }
  .logo-menu {
    margin: 1rem 0 7rem 0;
  }
  .nav_header li {
    margin: 2rem 0;
  }
  .image2,
  .img {
    display: none;
  }

  .section1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image2-mobile" "text2";
    gap: 5px 0px;
    margin: 5rem 2rem;
    padding: 0;
  }
  .text2 {
    grid-area: text2;
    padding: 0;
  }
  .image2-mobile {
    display: block;
    width: 100%;
    grid-area: image2-mobile;
  }
  .heading2 {
    font-size: 2em;
    width: 100%;
    text-align: center;
  }
  .img-mobile {
    display: unset;
    width: 100%;
  }
  .section2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.01fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "heading3"
      "images"
      "button";
    margin: 0;
  }

  .heading3 {
    grid-area: heading3;
    text-align: center;
    font-size: 2.8em;
    margin: 1.5rem;
  }

  .images {
    grid-area: images;
  }

  .button {
    grid-area: button;
  }
  .images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "element1"
      "element2"
      "element3"
      "element4"
      "element5"
      "element6"
      "element7"
      "element8";
  }

  .element1 {
    grid-area: element1;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element2 {
    grid-area: element2;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element3 {
    grid-area: element3;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element4 {
    grid-area: element4;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element5 {
    grid-area: element5;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element6 {
    grid-area: element6;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element7 {
    grid-area: element7;
    height: 10rem;
    margin: -0.3rem 1rem;
  }

  .element8 {
    grid-area: element8;
    height: 10rem;
    margin: -0.3rem 1rem;
  }
  .imageParagraph1 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph2 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph3 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph4 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 35%;
  }
  .imageParagraph5 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph6 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph7 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .imageParagraph8 {
    color: hsl(0, 0%, 100%);

    padding: 18rem 5rem 0rem 1rem;
    position: relative;
    top: -25rem;
    width: 50%;
  }
  .button {
    justify-self: center;
    margin: 0rem 0rem 0rem 0rem;
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.1fr 0.1fr 1fr;
    grid-template-areas: "logo_footer" "nav_footer" "social" "copyright";
    text-align: center;
    padding: 2rem 0;
  }
  .social {
    justify-self: center;
  }
  .nav_footer {
    display: flex;
    justify-self: center;
    padding: 0;
    flex-direction: column;
  }
  .nav_footer li {
    margin: 0 0 1.5rem 0;
  }
  .logo_footer {
    margin: 0;
    justify-self: center;
  }
  .copyright {
    justify-self: center;
  }
}
