/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* general */
body {
  margin: 0;
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
ul {
  list-style: none;
  display: flex;
  color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  align-self: flex-start;
  margin: 0rem 8rem;
}

.underline {
  display: none;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  height: 2px;
  width: 50%;
}

/* header */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_header . nav_header"
    "heading1 heading1 .";
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 4rem 0rem 20rem 0rem;
  width: 100%;
}

.logo_header {
  grid-area: logo_header;
  margin: 0rem 10rem;
}

.nav_header {
  grid-area: nav_header;
}
.nav_header li {
  margin: 0rem 0rem 0rem 2rem;
}
.heading1 {
  grid-area: heading1;
  border: solid 2px hsl(0, 0%, 100%);
  padding: 1rem;
  width: 93%;
  margin: 4.5rem 10rem 0rem 10rem;
  font-size: 4em;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}
/* section one */
.section1 {
  display: grid;
  grid-template-columns: 1fr 0.25fr 1fr;
  grid-template-rows: 0.6fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin: 0rem 0rem 10rem 7rem;
}

.image2 {
  grid-area: 1 / 1 / 3 / 3;
}

.text2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading2"
    "paragraph2";
  grid-area: 2 / 2 / 3 / 4;
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  padding: 4.4rem 8rem 2rem 8rem;
}

.heading2 {
  grid-area: heading2;
  font-family: "Josefin Sans", sans-serif;
  height: min-content;
  font-size: 3em;
  margin: 0;
}

.paragraph2 {
  grid-area: paragraph2;
  font-family: "Josefin Sans", sans-serif;
  width: 105%;
  margin: 0;
  line-height: 1.4em;
}
/* section two */
.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.3fr 0.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "heading3 heading3 . button"
    "images images images images"
    "images images images images";
  margin: 2rem 4rem;
}

.heading3 {
  grid-area: heading3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
}

button {
  display: flex;
  grid-area: button;
  background: none;
  border: 2px solid hsl(0, 0%, 0%);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 3rem;
  font-family: "Alata", sans-serif;
  align-self: center;
  justify-self: flex-end;
  margin: 0rem 2rem 0rem 0rem;
}
button:hover {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "image2-1 image2-2 image2-3 image2-4"
    "image2-5 image2-6 image2-7 image2-8";
  grid-area: images;
  font-size: 2em;
}
.images img:hover {
  filter: opacity(0.5);
}
.image2-1 {
  grid-area: image2-1;
  height: 28rem;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
}

.imageParagraph1 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -60rem;
}
.image2-2 {
  grid-area: image2-2;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph2 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -60rem;
}
.image2-3 {
  grid-area: image2-3;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph3 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -60rem;
}
.image2-4 {
  grid-area: image2-4;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph4 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -60rem;
}
.image2-5 {
  grid-area: image2-5;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph5 {
  padding: 18rem 5rem 0rem 2rem;
  position: relative;
  top: -58rem;
}
.image2-6 {
  grid-area: image2-6;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph6 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -58rem;
}
.image2-7 {
  grid-area: image2-7;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph7 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -58rem;
}
.image2-8 {
  grid-area: image2-8;
  color: hsl(0, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  height: 28rem;
}
.imageParagraph8 {
  padding: 18rem 5rem 0rem 3rem;
  position: relative;
  top: -58rem;
}
/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo_footer social"
    "nav_footer copyright";
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  /* margin: -40rem 0rem 0rem 0rem; */
  padding: 2rem 6rem 2rem 2rem;
}

.logo_footer {
  justify-self: start;
  grid-area: logo_footer;
  margin: 0rem 0rem 0rem 4.5rem;
}

.nav_footer {
  justify-self: start;
  grid-area: nav_footer;
}
.nav_footer li {
  margin: 0rem 0rem 0rem 2rem;
}
ul.nav_footer {
  margin: 0;
}
.social {
  justify-self: end;
  grid-area: social;
}

.copyright {
  justify-self: end;
  grid-area: copyright;
}
.underlineFooter {
  display: none;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  height: 2px;
  width: 50%;
}
